extends summonerHistory

block content
  div.mw-1200.col-12.col-center BJ.GG
    form(action="./summonerInfo", method="get")
      input(type="text" name='summonerName')
      button(type="submit") 버튼
    
