doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/matchInfo.css')
    link(rel='stylesheet', href='/stylesheets/responsive.css')
  body
    block content
