doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/matchInfo.css')
    link(rel='stylesheet', href='/stylesheets/responsive.css')
    script(src='https://code.jquery.com/jquery-3.5.1.slim.js')
   
      
  body
    block content
