matchInfo
    .content_wrap.col-12
        .gameRecord_wrap.col-12.mw-1200.col-center
            .gameRecord_con.col-12
                .gameRecord_inner.col-12
                    .gameRecord_info
                        .gameRecord_info_winlose &#xD328;&#xBC30;
                        .gameRecord_info_time 14&#xBD84;31&#xCD08;
                    .gameRecord_champ
                        .gameRecord_champ_img &#xC9C8;&#xB9AC;&#xC5B8;
                        .gameRecord_spells
                            .gameRecord_spell01 &#xC810;&#xBA78;
                            .gameRecord_spell02 &#xD0C8;&#xC9C4;
                    .gameRecord_KDA
                        .gameRecord_kda 7 / 7/ 11
                        .gameRecord_average 2.51:1 &#xD3C9;&#xC810;
                    .gameRecord_levelCS
                        .gameRecord_level 14&#xB808;&#xBCA8;
                        .gameRecord_CS 22CS
                    .gameRecord_items
                        .gameRecord_items_top
                            div 1
                            div 2
                            div 3
                            div 4
                        .gameRecord_items_bottom
                            div 5
                            div 6
                            div 7
                    .gameRecord_team01
                        div &#xC18C;&#xD658;&#xC0AC;1
                        div &#xC18C;&#xD658;&#xC0AC;1
                        div &#xC18C;&#xD658;&#xC0AC;1
                        div &#xC18C;&#xD658;&#xC0AC;1
                        div &#xC18C;&#xD658;&#xC0AC;1
                    .gameRecord_team02
                        div &#xC18C;&#xD658;&#xC0AC;1
                        div &#xC18C;&#xD658;&#xC0AC;1
                        div &#xC18C;&#xD658;&#xC0AC;1
                        div &#xC18C;&#xD658;&#xC0AC;1
                        div &#xC18C;&#xD658;&#xC0AC;1
