.champMastery_wrap{text-align: center;}
.champMastery_con{}
.champMastery_box0{}
.champMastery_box1{}
.champMastery_box2{}
.champMastery_box3{}
.champMastery_box4{}
.champMastery_inner_img{}
.champMastery_inner_img > img{width: 180px;height: auto;border-radius: 10px;}
.champMastery_inner_name{}
.champMastery_inner_level{}
.champMastery_inner_point{}