.summonnerInfo_wrap{padding-top: 100px;margin-bottom: 20px;}
.summonerInfo_con{}
.summonerInfo_con_right{float: left;}
.summonerInfo_inner_icon{}
.summonerInfo_inner_icon > img {width: 120px;width: 120px;border-radius: 50%;}
.summonerInfo_inner_nick{}
.summonerInfo_inner_level{}
.summonerInfo_con_center{float: left;}
.summonerInfo_con_left{float: left;}
.summonerInfo_inner{}
.summonerInfo_inner_left{float: left;}
.summonerInfo_inner_img{width: 150px;height: 150px;padding-bottom: 19px;}
.summonerInfo_inner_right{float: left;}
.summonerInfo_box{padding-top: 30px;}
.summonerInfo_tier{}
.summonerInfo_leaguePoint{}
.summonerInfo_wins{}
.summonerInfo_loses{}
.summonerInfo_con_left{}