.gnb_wrap(class="col-12")
    .gnb_content(class="col-12 mw-1200 col-center")
        .gnb_inner(class="col-12")
            .gnb_champion.col-3
                    a(href="/") 챔피언분석
            .gnb_search.col-3
                a(href="/") 검색
            .gnb_search2
                form(action="./summoner", method="get")
                    input(type="text" name='summonerName')
                    button(type="submit") 검색
   
                