champMastery
    .champMastery_wrap.col-12.col-center.mw-1200
        .champMastery_con.col-12
            .champMastery_box0.col-2
                .champMastery_inner_img.col-4
                .champMastery_inner_name.col-4 
                    div #{champ_mastery[0].championName}
                .champMastery_inner_level.col-4
                    div #{champ_mastery[0].championLevel}
                .champMastery_inner_point.col-4
                    div #{champ_mastery[0].championPoints}
            .champMastery_box0.col-2
            .champMastery_box0.col-2
            .champMastery_box0.col-2
            .champMastery_box0.col-2

        