footer 
    .footer_wrap.col-12.col-center
        .footer_con.col-12.mw-1200.col-center 
            .footer_box_top.col-12
                .footer_top_inner_first.col-1 About BJ.GG
                .footer_top_inner_second.col-1 관리자
                .footer_top_inner_third.col-1 도움말
                .col-9
            .footer_box_middle.col-12 
                div © 2020-2021 BJ.GG. BJ.GG isn’t endorsed by Riot Games and doesn’t reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.
            .footer_box_line.col-12
            .footer_box_bottom.col-12
                .footer_inner_bottom_first.col-4
                    img(src="https://www.riotgames.com/darkroom/800/08e6c62a64498231819ba2414ed8b66e:88909d49daa9fda3e4ea713a9008d504/riot-pairedlogo-red-500px.png", alt="riotgames")
                .footer_inner_bottom_second.col-4 © kingbj0429@gmail.com ALL RIGHT RESERVED
                .footer_inner_bottom_third.col-4
                    a(href="https://github.com/kingbj940429")(tooltip2="제작자 GitHub" flow="up")
                        img(src="/images/github.png", alt="github")

    