gnb
    div(class="loading" style="display:none") Loading&#8230;
    .gnb_wrap.col-12
        .gnb_con
            .gnb_inner.mw-1200.col-center
                .gnb_champion.col-3
                    a(href="/") 챔피언분석
                .gnb_search.col-3
                    a(href="/") 검색
                .gnb_search2
                    form(action="./summoner", method="get")
                        input(type="text" name='summonerName')
                        button(type="submit") 검색
                        