.gnb_wrap{background-color: #5383e8;margin-bottom: 50px;}
.gnb_con{margin-top: 20px;margin-bottom: 20px;}
.gnb_inner{}
.gnb_champion{padding-right: 100px;}
.gnb_search{padding-right: 100px;}
.gnb_search2{}
