.gnb_wrap{background-color: rgba(0,0,0,0.9);margin-bottom: 50px;}
.gnb_wrap a {text-decoration:none;color: white;}
.gnb_con{margin-top: 20px;margin-bottom: 20px;}
.gnb_inner{}
.gnb_champion{padding-right: 100px;}
.gnb_search{padding-right: 100px;}
.gnb_search2{}
