doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/matchInfo.css')
    link(rel='stylesheet', href='/stylesheets/summonerInfo.css')
    link(rel='stylesheet', href='/stylesheets/responsive.css')
    link(rel='stylesheet', href='/stylesheets/gnb.css')
    link(rel='stylesheet', href='/stylesheets/footer.css')
    script(src='https://code.jquery.com/jquery-3.5.1.min.js')
   
  body
    include ../cmmn/gnb
    block index
    include ../cmmn/footer    
    
