extends first_main

block index
  .first_main_wrap.col-12.col-center.mw-1200
    div BJ.GG
      form(action="./summonerInfo", method="get")
        input(type="text" name='summonerName')
        button(type="submit") 버튼
        img(src='https://attach.s.op.gg/logo/20201021171230.d6505e48c1987a9f8ea7d1a056a9f4c2.png')
  .testest
    video(autoplay loop style="width:100%;height:800x")
      source(src='https://lolstatic-a.akamaihd.net/frontpage/apps/prod/harbinger-l10-website/ko-kr/production/ko-kr/static/hero-de0ba45b1d0959277d12545fbb645722.mp4' type='video/mp4')
        
  
