extends first_main

block index
  .first_main_wrap.col-12.col-center.mw-1200
    div BJ.GG
      form(action="./summonerInfo", method="get")
        input(type="text" name='summonerName')
        button(type="submit") 버튼
    .first_main_media.col-center.col-12    
      iframe(class="first_main_media_iframe" src="https://www.youtube.com/embed/aR-KAldshAE?rel=0&modestbranding=1&autoplay=1" allow='autoplay' style="width:100%;height:500px;border:none")
    
